<h2>App: <%= @app.name %></h2>

<dl class="stats dl-horizontal">
  <dt>Last signal:</dt><dd><%= signal_type @app.current_signal %></dd>
  <dt>Stability score: </dt><dd><%= app_stability_score @app.stats %></dd>
</dl>

<section>
  <h3>Signals</h3>
  <%= column_chart Gingerr::AppStats.new(@app).recent_signals_timeline,
    stacked: true,
    library: { colors: ['#ff4c4c', '#a7f98e'] } %>
</section>

<section>
  <h3>Distance between signals</h3>
  <% data = @app.signals.recent(50).each_cons(2).map do |sig1, sig2|
    [sig2.created_at.to_s, sig2.created_at - sig1.created_at]
  end %>
  <%= area_chart data %>
</section>


<%= render partial: 'gingerr/signals/table', locals: { signals: @signals, title: 'Recent signals' } %>
